html {
  height: 100%;
}
@font-face {
  font-family: "optirondo-boldbold";
  src: url("fonts/optirondo.etf");
  src: url("fonts/optirondo.woff") format("woff"),
    url("fonts/optirondo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "optirondo-boldbold";
  background-color: black;
}

.EtchASketch {
  background-color: red;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 3%;
}

h1 {
  color: goldenrod;
}
#title {
  font-size: x-large;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}
.dots {
  background-color: white;
  height: 100px;
  width: 100px;

  border-radius: 50%;
  display: inline-block;
}
.bottom {
  /* space the to wheels to the edges  */
  width: 920px;
  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.sketchPad {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background-color: lightgray;
  border-radius: 3%;
  border-style: solid;
  border-color: lightgray;
  background-clip: padding-box;
  padding: 5px;
}

.pad {
  width: 700px;
  height: 500px;

  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.block {
  background-color: lightgray;
}

.block.selected {
  background-color: white;
}

.options {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 10% 10%;
}

#slideValue {
  font-size: x-large;
  padding: 15px;
  color: lightgray;
}


.btn {
  background-color: lightgray;
  color: goldenrod;
  font-family: "ptirondo-boldbold";
  padding: 15px 30px;
  font-size: large;
  font-weight: bold;

  border-style: solid;
  border-width: 3px;
  border-radius: 30%;
  border-color: lightgray;
}

.picker {
  background-color: lightgray;
  border-style: solid;
  border-width: 3px;
  border-radius: 30%;
  border-color: lightgrey;
}
